# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Geradas por `flutter create` (regeneráveis)
.idea/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/

# Misc
*.log
.DS_Store
